<ion-header color="new">
  <ion-toolbar color="new">
    <ion-title style="text-align: center;font-family: 'Nunito',sans-serif;">Travel Summary</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
<ion-toolbar color="new">
<ion-grid color="new">
  <ion-row color=new style="text-align: center;justify-content: center;">
   <ion-col text-left size="3">
    <div>
    <h2 style="margin-bottom: 0px;font-weight: bold;"> {{ Departure.appv }} </h2>
    <span style="text-transform: uppercase;font-size:12px;overflow-y: hidden;max-height:15px;display: inline-block;">{{ Departure.name }}</span>
    </div>
  </ion-col>
  <ion-col size="6">
    <div class="bg-image"></div>
  </ion-col>
  <ion-col text-right size="3">
    <div>
    <h2 style="margin-bottom: 0px;font-weight: bold;"> {{ Arrival.appv }} </h2>
    <span style="text-transform: uppercase;font-size:12px;overflow-y: hidden;max-height:15px;display: inline-block;">{{ Arrival.name }}</span>
    </div>
  </ion-col>
 </ion-row>
</ion-grid>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button style="border-radius: 10px;margin-bottom: 0px;" mode="ios">
  <ion-item no-line>
    <ion-icon src="../../assets/selam.svg" slot="start"  style="border:;padding:3px;border-radius: 25px;"></ion-icon>
    <ion-label style="font-weight: bold;font-family: 'Nunito', sans-serif;color:gray;text-transform: uppercase;">{{ Bus }} BUS S.C</ion-label>
    <span fill="outline" slot="end" ><strong style="color:gray;"> {{ Total }}<span style="font-size:11px;">ETB</span> </strong></span>
  </ion-item>
  <ion-card-content style="padding: 0px;" mode="ios">
    <ion-grid>
        <ion-row style="padding:0px;margin: 0px;">
          <ion-col style="margin: 0px;padding:0px;">
            <span style="font-size:12px;font-family: 'Nunito',sans-serif">&nbsp;PASSENGER</span> 
          </ion-col>
            <ion-col style="margin: 0px;padding:0px;"  size="4">
              <span style="font-size:12px;font-family: 'Nunito',sans-serif;padding:0px;">CONTACT</span>
            </ion-col>
         </ion-row>
         <ion-row style="padding:0px;margin: 0px;">
             <ion-col style="margin-top: 0px;padding:0px;">
             <span style="font-family: 'Nunito',sans-serif;font-weight: 600;color:#000;text-transform: uppercase;">&nbsp;{{ Passenger.name }}</span>
            </ion-col>
            <ion-col style="text-align:  ;padding:0px;margin-bottom: 5px;" size="4">
            <span style="font-family: 'Nunito',sans-serif; font-weight: 600;color:#000;">{{Passenger.phone}}</span>
            </ion-col>
          </ion-row>
            <!--
          <ion-col size="2" style="text-align:right;margin:0px;">
             <ion-card button  style="padding:3px;padding:1px;margin:0px;text-align: center;">
             <ion-icon name="wifi-outline"  color="new" style="font-size:20px;"></ion-icon></ion-card>
          </ion-col>
          <ion-col size="2" style="padding:3px;margin:0px;text-align: center;">
          <ion-card button style="margin:0px; "><ion-icon   color="new" name="fast-food-outline" style="font-size:20px;"></ion-icon></ion-card>
          </ion-col>
          <ion-col size="2" style="padding:3px;margin:0px; vertical-align:center; text-align: center;">
            <ion-card button style="margin:0px;"><ion-icon  align="right" color="new" name="battery-charging-outline" style="font-size:20px;"></ion-icon></ion-card>
            </ion-col> -->
        </ion-grid>
  </ion-card-content>
</ion-card>
<ion-grid style="justify-content: center;text-align: center;" mode="ios">
  <ion-row>
    <ion-col size="6">
      <ion-card button class="non-space" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Travel Number</ion-card-subtitle>
          <ion-card-title  color="new">BX001</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card button class="non-space" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Passenger Seats</ion-card-subtitle>
          <ion-card-title color="new">{{ Seats }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card button style="border-radius: 10px;" class="non-space">
        <ion-card-header>
          <ion-card-subtitle>Departure</ion-card-subtitle>
          <ion-card-title color="new"> {{ formated_date }} <br/> 12:00PM </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card button style="border-radius: 10px;" class="non-space">
        <ion-card-header>
          <ion-card-subtitle>Arrival</ion-card-subtitle>
          <ion-card-title color="new"> {{ formated_date }} <br/> 12:00PM </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer class="ion-no-border" >
  <ion-toolbar no-border> 
    <ion-button shape="round" expand="full" color="new" (click)="pay()"><strong>&nbsp; Proceed to Pay &nbsp;</strong></ion-button>
  </ion-toolbar>
</ion-footer>