h3 {
    font-family: 'Nunito' ,sans-serif;
    text-align: center;
    margin: 0px;
    padding:0px;
    font-size:15px;
}
p {
    font-family: 'Nunito',sans-serif; 
    font-size:12px;
    padding:10px;
    border-bottom:1px solid lightgrey;
}
span {
    font-size:12px;
    display:block;
}