.bg-image {
    height:25%;
    
    background-image: url(../../assets/deposit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin:10px;
    display: block;
}
.currency {
text-align: center;
justify-content: center;
font-size:64px;
}
.currency span {
font-size:24px;
}