<ion-header>
  <ion-toolbar color="new" class="ion-no-border">
    <ion-title>Passenger</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="new" style="text-align: center;">
    <ion-icon slot="end" size="large" name="person-circle-outline"></ion-icon> <span> Fill Personal Info </span>
    
    <ion-icon slot="end" style="color:#fff;" name="information-circle-outline" size="large"></ion-icon>
  <span style="color: pink;"><strong>Seat {{ Seats }}</strong></span>
  </ion-toolbar>
  <ion-toolbar color="danger" [style.display]="isConnected ? 'none' : 'block'" style="padding:1px;"> 
    <div style="text-align: center;justify-content: center;font-size:12px;">No internet Connection</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-grid>
  <ion-row>
    <ion-col size="12" > <p>
      <span class="header">Contact Information</span>
    </p>
        <mat-form-field appearance="outline" class="full-width-field" [style.color]="email ? 'red' : success_email" style="height:55px;">
          <mat-label>Email</mat-label>
          <input matInput (focusout)="validate($event,'1');" placeholder="@gmail.com" required >
          <mat-icon matSuffix><ion-icon  size="large"  name="at-outline"></ion-icon></mat-icon>
        </mat-form-field><br/>

        <mat-form-field appearance="outline" class="full-width-field" [style.color]="phone ? 'red' : success_phone">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="09 777 777" (focusout)="validate($event,'2');">
          <mat-icon matSuffix><ion-icon size="large" name="phone-portrait-outline"></ion-icon></mat-icon>
    
        </mat-form-field>
     
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="12" > 
        <p>
        <span class="header">Passenger</span>
         </p>
          <mat-form-field appearance="outline" class="full-width-field" [style.color]="name ? 'red' : success_name"  style="height:50px;">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="First Name Last Name" (focusout)="validate($event,'3')" autocomplete="off">
            <mat-icon matSuffix><ion-icon  size="large"  name="person-outline"></ion-icon></mat-icon>
          </mat-form-field><br/>
  
          <mat-form-field appearance="outline" class="half-width-field" style="margin-right:3px;" [style.color]="age ? 'red' : success_age">
            <mat-label>Age</mat-label>
            <input matInput placeholder="20" (focusout)="validate($event,'4')" autocomplete="off">
            <mat-icon matSuffix><ion-icon size="large" name="today-outline"></ion-icon></mat-icon>
      
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width-field"> 
            <mat-label>Gender</mat-label>
            <mat-select  (selectionChange)="validate($event,'5')">
              <mat-option [value]="MGender">Male</mat-option>
              <mat-option [value]="FGender">Female</mat-option>
            </mat-select>
            <mat-hint align="end"> <ion-icon name="male-outline"></ion-icon>Male <ion-icon name="female-outline"></ion-icon> Female</mat-hint>
          </mat-form-field>
          
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar no-border> 
  <ion-button shape="round" expand="full" disabled="{{submit}}" color="new" (click)="travelSummary()"><strong>&nbsp; Payment &nbsp;</strong></ion-button>
  </ion-toolbar>
</ion-footer>
