h2 {
    font-family:'Nunito', sans-serif;
}
ion-row {
    font-family:'Nunito', sans-serif;
}
ion-item {
  font-family:'Nunito', sans-serif;
}
.bg-image {
    
    background-image: url(../../assets/path-4.svg);
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    background-size: contain;
    background-position-y: center;
    display: block;
    //background-size: cover;
}