ion-footer ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    justify-content: center;
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    }
  ion-item ion-label {
    font-family:'Nunito',sans-serif;
    
}
.lable-content {
  font-family:'Nunito',sans-serif;
}
ion-title {
  font-family:'Nunito',sans-serif;
}