ion-footer ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    justify-content: center;
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    }
ion-footer {
        --background: transparent;
        --ion-color-base: transparent !important;
        
    }
#seats {
    --background: pink;
    --ion-color-base: pink !important;
}